/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom rules: */

html, body {
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.centered {
  margin: 0 4vw;
}

.centered.title {
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem 0 0.5rem 0;
}

.centered.markdown {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.centered.text {
  padding: 1rem 0 2rem 0;
}

.centered.text .contents {
  /* since .centered has 4vw margin it has (100vw - 8vw) width */
  /* to get height for 16:9 ratio: 92vw / 16 * 9 = 43.578947368vw */
  height: 43.578947368vw;
  background-color: #eee;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.centered.text .contents.with-error {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered.text .contents.with-error .error {
  display: grid;
  grid-template-columns: 128px calc(92vw - 128px - 20vw - 4vw);
  grid-template-rows: 1fr 1fr;
  column-gap: 4vw;
}

.centered.text .contents.with-error .error img {
  width: 128px;
  height: 128px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.centered.text .contents.with-error .error .title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: flex-end;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.centered.text .contents.with-error .error .title code {
  font-family: 'JetBrains Mono';
}

.centered.text .contents.with-error .error .description {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-family: 'JetBrains Mono';
}

.centered.text .contents.with-contents {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  font-family: 'JetBrains Mono';
  line-height: 1.25rem;
  overflow-x: hidden;
}

.centered.text .contents.with-contents .line-number {
  padding: 0 0.5rem;
  text-align: right;
  opacity: 0.25;
}

.centered.text .caption {
  margin-top: 0.25rem;
  text-align: center;
}

.centered.text .caption code {
  font-family: 'JetBrains Mono';
}

.centered.image {
  padding: 1rem 0 2rem 0;
}

.centered.image .contents {
  /* since .centered has 4vw margin it has (100vw - 8vw) width */
  /* to get height for 16:9 ratio: 92vw / 16 * 9 = 43.578947368vw */
  height: 43.578947368vw;
  background-color: #eee;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.centered.image .contents.with-error {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered.image .contents.with-error .error {
  display: grid;
  grid-template-columns: 128px calc(92vw - 128px - 20vw - 4vw);
  grid-template-rows: 1fr 1fr;
  column-gap: 4vw;
}

.centered.image .contents.with-error .error img {
  width: 128px;
  height: 128px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.centered.image .contents.with-error .error .title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: flex-end;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.centered.image .contents.with-error .error .title code {
  font-family: 'JetBrains Mono';
}

.centered.image .contents.with-error .error .description {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-family: 'JetBrains Mono';
}

.centered.image .contents.with-contents {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.centered.image .caption {
  margin-top: 0.25rem;
  text-align: center;
}

.centered.image .caption code {
  font-family: 'JetBrains Mono';
}

.centered.button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: #eee;
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 2vw;
  row-gap: 2vw;
  padding: 2vw;
  /* to get height for 16:9 ratio: 92vw / 16 * 9 = 43.578947368vw */
  max-height: 43.578947368vw;
}

.centered.button button.button {
  display: block;
  align-self: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  white-space: nowrap;
  background-color: #fff;
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.125), 0 2px 7px rgba(0, 0, 0, 0.125);
  font-family: inherit;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: box-shadow 0.25s ease;
}

.centered.button button.button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125), 0 3px 7px rgba(0, 0, 0, 0.125), 0 5px 15px rgba(0, 0, 0, 0.125), 0 3px 15px rgba(0, 0, 0, 0.125);
}

.centered.button .command {
  font-family: 'JetBrains Mono';
  line-height: 1.25rem;
  align-self: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.centered.button .outputs {
  font-family: 'JetBrains Mono';
  line-height: 1.25rem;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  overflow-y: auto;
}

.centered.button .outputs .stderr {
  color: #ee0000;
}

.centered > .navigation {
  margin: 1rem 0;
  padding: 0 1rem;
  box-shadow: inset 0.15rem 0 0 #ccc;
}

.centered > .navigation .topics {
  margin: 0 0 1rem 0;
}

.centered > .navigation :last-child {
  margin: 0;
}

.centered > .navigation .topics .label {
  color: #aaa;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 0 0.25rem 0;
}

.centered > .navigation .topics .link {
  display: block;
  color: #000;
  margin: 0.25rem 0;
  padding: 0.5rem 0.5rem 0.5rem 2.25rem;
  font-weight: 700;
  text-decoration: none;
}

.centered > .navigation .topics .link:hover {
  text-decoration: underline;
}

.centered > .navigation .topics .link.up {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iYmxhY2siIHdpZHRoPSIxOHB4IiBoZWlnaHQ9IjE4cHgiPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48cGF0aCBkPSJNMjAgMTFINy44M2w1LjU5LTUuNTlMMTIgNGwtOCA4IDggOCAxLjQxLTEuNDFMNy44MyAxM0gyMHYtMnoiLz48L3N2Zz4=);
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: 0.25rem 0.3rem;
}

.centered > .navigation .topics .link.down {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iYmxhY2siIHdpZHRoPSIxOHB4IiBoZWlnaHQ9IjE4cHgiPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMFYweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0xOSAxNWwtNiA2LTEuNDItMS40MkwxNS4xNyAxNkg0VjRoMnYxMGg5LjE3bC0zLjU5LTMuNThMMTMgOWw2IDZ6Ii8+PC9zdmc+);
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: 0.25rem 0.3rem;
}

@media (min-width: calc(720px + 8vw)) {
  .centered {
    width: 720px;
    margin: 0 auto;
  }

  .centered.title {
    font-size: 3rem;
    padding: 2rem 0 0.5rem 0;
  }

  /* .centered .navigation {
    position: fixed;
    right: 0;
  } */

  .centered.text .contents {
    /* to get height for 16:9 ratio: 720px / 16 * 9 = 381.176470588px */
    height: 381.176470588px;
  }

  .centered.text .contents.with-error .error {
    grid-template-columns: 128px calc(720px - 128px - 128px - 2rem);
    column-gap: 2rem;
  }

  .centered.image .contents {
    /* to get height for 16:9 ratio: 720px / 16 * 9 = 381.176470588px */
    height: 381.176470588px;
  }

  .centered.button {
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 1rem;
    /* to get height for 16:9 ratio: 720px / 16 * 9 = 381.176470588px */
    max-height: 381.176470588px;
  }
}
